<h2 class="uk-heading-divider">Suggestions</h2>

<UkList @divider={{true}} as |list|>
  {{#each @suggestions as |suggestion|}}
    <list.item {{on "click" (fn @onSelected suggestion)}} style="cursor: pointer;">
      {{suggestion}}
    </list.item>
  {{/each}}
</UkList>